.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap:0.5rem;
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 27px;
  justify-content: center;
}

