.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap:0.5rem;
  
}
.containers{
  width: 18rem;
  box-shadow: 2px 2px rgba(128, 128, 128, 0.373);
  height: 27rem !important;
  align-items: center;
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 27px;
  justify-content: center;
}
.cart-value{
  display: flex;
  justify-content: center;
  font-size:xx-large ;
  padding: 5px;
  font-family: 'Times New Roman', Times, serif;

}
.images{
  width: 18rem !important;
  height: 250px;
  border-radius: 10px !important;
  padding: 2px;
}
.containers:hover{
  margin-top: -.25rem;
  margin-bottom: .25rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
}